<br>
<br>
<br>
<div class="card mr-5 ml-5 mt-5">
<h3 class="color-red">Blood Groups</h3>
<p>Blood type is determined by which antibodies and antigens the person's blood produces. An individual has two types of blood groups namely ABO-grouping and Rh-grouping. Rh is called as the Rhesus factor that has come to us from Rhesus monkeys.</p>

    <p>Most humans are in the ABO blood group. The ABO group has four categories namely 
    1) A group 2) B group 3) O group and 4) AB group
    In the Rh- group, either the individual is said to be Rh- Negative or Rh- Positive.</p>
    
   <p> Thus blood group of any human being will mainly fall in any one of the following groups. </p>
<ul>
    
 <li type="square"> A positive or A negative.</li> 
    <li type="square">B positive or B negative.</li>
<li type="square">O positive or O negative. </li>
    <li type="square">AB positive or AB negative.</li>
</ul>
    </div>
    <div class="card mr-5 ml-5 mt-5 mb-5">
        <h3 class="color-red">Universal Donors and Recipients</h3>
        <p>The most common blood type is O, followed by type A.</p>
        <p>Type O individuals are often called "universal donors" since their blood can be transfused into persons with any blood type. Those with type AB blood are called "universal recipients" because they can receive blood of any type.</p>
    <p>However, since approximately twice as many people in the general population have O and A blood types, a blood bank's need for this type of blood increases exponentially.</p>
    </div>