
        <div class="container pt-30" style="margin-top:10px">
          <div class="row pt-30">
              <div class="col-sm-7 mt-5 ml-5 mr-5 mb-5 mx-auto">
            <h3><b>	<p class="text-style text-dark">About Us</p></b></h3>
             <p class="text-dark text-left">'Blood Bank ' is the first product resulted out of the community welfare initiative called 'Welfare Project' from Cogn Technologies.
                 Universally, 'Blood' is recognized as the most precious element that sustains life. 
                 It saves innumerable lives across the world in a variety of conditions. 
                 Once in every 2 seconds, someone, somewhere is desperately in need of blood.
                  More than 29 million units of blood components are transfused every year. 
                  The need for blood is great  on any given day, approximately 39,000 units of Red Blood Cells are needed. Each year, we could meet only up to 1% (approx) of our nation’s demand for blood transfusion.</p>

              <p class="text-dark text-left">    Despite the increase in the number of donors, blood remains in short supply during emergencies, mainly attributed to the lack of information and accessibility. 
                  We positively believe this tool can overcome most of these challenges by effectively connecting the blood donors with the blood recipients.</p>
                 
            </div>
            <br>
            <div class="col-sm-5 mt-5 ml-5 mr-5 mb-5 mx-auto">
              
              <h2 class="center-align text-style text-light"><b></b></h2>
              
        </div>
          </div>
      </div>

