
   
       <div class="container">
        <h3 class="text-center text-uppercase">Contact Us</h3>
        <p class="text-center w-75 m-auto">We would love to hear from you</p>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-4 my-5">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                 <h4 class="text-uppercase mb-5">Call us</h4>
                 <p>+91 1234567890,+91 2345678901</p>
               </div>
             </div>
          </div>
         
          <div class="col-sm-6 col-md-6 col-lg-4 my-5">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                 <h4 class="text-uppercase mb-5">Office location</h4>
                 <address>Gachibowli,Hyderabad </address>
               </div>
             </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-4 my-5">
            <div class="card border-0">
               <div class="card-body text-center">
                 <i class="fa fa-envelope fa-5x mb-3" aria-hidden="true"></i>
                 <h4 class="text-uppercase mb-5">Email</h4>
                 <p>bloodbank@gmail.com</p>
               </div>
             </div>
          </div>
        </div>
    </div>
 
 