<div class="container pt-30" style="margin-top:10px">
    <div class="row pt-30">
                <div class="col-sm-6 mt-5 ml-5 mr-5 mb-5 mx-auto">
                        <h2 class="center-align text-style">Do's and dont's of donating blood</h2>
                                  <div class="card mt-1 mb-1 ml-5 mr-5">
                                      <ul>
                                          <li type="square">Do donate with a buddy</li>
                                          <li type="square">Do not donate if you are not feeling well for any reason.</li>
                                          <li type="square">Do eat a low fat healthy meal before you donate.</li>
                                          <li type="square">Do drink plenty of fluids one day before, the day of and one day after your donation.</li>
                                          <li type="square">Do not smoke immediately before or within one hour after your donation to avoid light-headedness.</li>
                                          <li type="square">Do not rush through juice and cookies.</li>                                              
                                      </ul>
                      </div>
                        </div>
                     
                        <div class="col-sm-6 mt-4 ml-4 mr-4 mb-4 mx-auto">
                            <img class="image-size-3" src="https://cdn1.vectorstock.com/i/1000x1000/31/05/blood-donation-cartoon-vector-1563105.jpg">
                            <div class="centered"><h5><b><p>Hello {{this.authService.loggedInUser}}!</p></b></h5></div>
                            
                              
                      </div>
                    </div>
                        </div>
                     
